In [6]:
import pandas as pd

# Membuat DataFrame dari dictionary
data = {
    'Nama': ['Ikmal', 'Dika', 'Ripal'],
    'Umur': [18, 19, 20],
    'Kota': ['Jakarta', 'Bandung', 'Surabaya']
}

# Membuat DataFrame
df = pd.DataFrame(data)
df

#df.head()
#df.tail()

    Nama  Umur      Kota
0  Ikmal    18   Jakarta
1   Dika    19   Bandung
2  Ripal    20  Surabaya