In [121]:
import sqlite3
import pandas as pd

# Membuka atau membuat database SQLite
conn = sqlite3.connect('perpustakaan.db')

# Membuat tabel 'buku' jika belum ada
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS buku (
    id_buku INTEGER PRIMARY KEY,
    judul TEXT,
    pengarang TEXT,
    penerbit TEXT,
    tahun_terbit INTEGER,
    jumlah_stok INTEGER
)
""")

# Mengecek apakah tabel 'buku' kosong
cursor.execute("SELECT COUNT(*) FROM buku")
count = cursor.fetchone()[0]

# Menambahkan data hanya jika tabel kosong
if count == 0:
    cursor.executescript("""
    INSERT INTO buku (judul, pengarang, penerbit, tahun_terbit, jumlah_stok)
    VALUES
    ('Pemrograman Python', 'Unpas', 'Informatika', 2021, 10),
    ('Dasar-Dasar MySQL', 'Undip', 'Teknologi', 2019, 5),
    ('Manajemen Data', 'Unpad', 'Editing Skill', 2020, 7);
    """)
    print("Data berhasil ditambahkan ke tabel 'buku'.")
else:
    print("Tabel 'buku' sudah memiliki data. Tidak menambahkan data baru.")

# Membaca data dari tabel 'buku' dan menampilkannya sebagai DataFrame
df = pd.read_sql_query("SELECT * FROM buku", conn)
print("\nData dalam tabel 'buku':")
print(df)

# Menutup koneksi
conn.close()

Data berhasil ditambahkan ke tabel 'buku'.

Data dalam tabel 'buku':
   id_buku               judul pengarang       penerbit  tahun_terbit  \
0        1  Pemrograman Python     Unpas    Informatika          2021
1        2   Dasar-Dasar MySQL     Undip      Teknologi          2019
2        3      Manajemen Data     Unpad  Editing Skill          2020

   jumlah_stok
0           10
1            5
2            7

In [142]:
#menghapus data
import sqlite3

# Membuka atau membuat database SQLite
conn = sqlite3.connect('perpustakaan.db')

# Membuat cursor untuk mengeksekusi perintah SQL
cursor = conn.cursor()

# Menghapus tabel 'buku'
cursor.execute("DROP TABLE IF EXISTS buku")
print("Tabel 'buku' berhasil dihapus.")

# Menutup koneksi
conn.close()

Tabel 'buku' berhasil dihapus.

In [144]:
import sqlite3
import pandas as pd

# Membuka atau membuat database SQLite
conn = sqlite3.connect('perpustakaan.db')

cursor = conn.cursor()
cursor.execute("""
DROP TABLE IF EXISTS buku
""")
cursor.execute("""
CREATE TABLE buku (
    nama TEXT PRIMARY KEY,
    keahlian TEXT,
    universitas TEXT,
    jurusan TEXT,
    tahun_masuk INTEGER
)
""")

# Menambahkan data baru dengan nama pada kolom 'nama'
cursor.executescript("""
INSERT INTO buku (nama, keahlian, universitas, jurusan, tahun_masuk)
VALUES
('ikmal', 'Python', 'ITB', 'Informatika', 2021),
('dika', 'Otomotif', 'UI', 'Teknik Mesin', 2019),
('ripal', 'Editing', 'Unpad', 'DKV', 2020);
""")

# Membaca data dari tabel 'buku' dan menampilkannya sebagai DataFrame
df = pd.read_sql_query("SELECT * FROM buku", conn)
print("\nData dalam tabel 'buku':")
print(df)

conn.close()

Data dalam tabel 'buku':
    nama  keahlian universitas       jurusan  tahun_masuk
0  ikmal    Python         ITB   Informatika         2021
1   dika  Otomotif          UI  Teknik Mesin         2019
2  ripal   Editing       Unpad           DKV         2020